{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area"  style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>About Us</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">About Us</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">الصفحة الرئيسية</a> / المساعدة</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Contact Main Page Area -->
    <div class="contact-main-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 m-auto">
                    <div class="contact-form-content text-right">
                        <h3 class="contact-page-title">أخبرنا بمشكلتك</h3>
                        <div class="contact-form">
                            {{ form_start(form) }}
                            {% for message in app.flashes('success')  %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label>اسمك <span class="required">*</span></label>
                                {{ form_row(form.name) }}
                            </div>
                            <div class="form-group">
                                <label>بريدك الالكتروني <span class="required">*</span></label>
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                <label>موضوع</label>
                                {{ form_row(form.subject) }}
                            </div>
                            <div class="form-group form-group-2">
                                <label>مشكلتك</label>
                                {{ form_row(form.message) }}
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" id="submit" class="alsita-contact-form_btn" name="submit">إرسال</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Main Page Area End Here -->
    <style>
        .map-responsive{

            overflow:hidden;

            padding-bottom:56.25%;

            /*position:relative;*/

            height:0;

        }

        /*.map-responsive iframe{*/
        /*    height:100%;*/

        /*    width:100%;*/
        /*}*/
    </style>

{% endblock %}

