{% extends 'base.html.twig' %}

{% block body %}

    {% include '_banner.html.twig' %}
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's About Us Area -->
    <div class="about-us-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex align-items-center">
                    <div class="overview-content">
                        <h2>{{ about.title }}</h2>
                        <p class="short_desc">
                            {% autoescape "html" %}
                                {{ about.description|raw }}
                            {% endautoescape %}
                        </p>
                        <div class="hiraola-about-us_btn-area">
                            <a class="about-us_btn" href="{{ about.btnUrl }}">{{ about.btnTitle }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 mb-5">
                    <div class="overview-img text-center img-hover_effect">
                        <a href="#">
                            <img class="img-full" src="{{ vich_uploader_asset(about, 'imageFile') }}" alt="Shine Aurora About Us Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's About Us Area End Here -->



{% endblock %}

