{% extends 'baseAr.html.twig' %}

{% block body %}

    {% include '_banner.html.twig' %}
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a> / عربة التسوق</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's Error 404 Page Area -->
    <!-- Begin Hiraola's Cart Area -->
    {% if(delivery == '') %}
        {% set delivery = 0 %}
    {% endif %}
    {% set discount = coupon ? coupon.discount : 0 %}
    <div class="hiraola-cart-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="js-cart-form" action="{{ path('update.cart', { locale: 'ar' }) }}">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="hiraola-product-remove">إزالة</th>
                                    <th class="hiraola-product-thumbnail">الصور</th>
                                    <th class="cart-product-name">المنتج</th>
                                    <th class="hiraola-product-size">المقاس</th>
                                    <th class="hiraola-product-color">اللون</th>
                                    <th class="hiraola-product-price">سعر</th>
                                    <th class="hiraola-product-quantity">كمية</th>
                                    <th class="hiraola-product-subtotal">مجموع</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set total = null %}
                                {% if cart %}
                                    {% for cartItem in cart %}
                                        <tr>
                                            <td class="hiraola-product-remove"><a href="{{ path('delete.cart', {locale: 'ar' ,id: cartItem.catalog.id, route:page}) }}"><i class="fa fa-trash"
                                                                                                                                                                           title="Remove"></i></a></td>
                                            <td class="hiraola-product-thumbnail"><a href="javascript:void(0)"><img width="50" src="{{ vich_uploader_asset(cartItem.catalog.product.images.first, 'imageFile') }}" alt="{{ cartItem.catalog.product.name }}"></a></td>
                                            <td class="hiraola-product-name"><a href="javascript:void(0)">{{ cartItem.catalog.product.nameAr|upper }}</a></td>
                                            <td class="hiraola-product-size"><span>{{ cartItem.catalog.size }}</span></td>
                                            <td class="hiraola-product-color">  <a href="javascript:void(0)"  class="cart-single-color" data-swatch-color="red">
                                                    <span style="background-color: {{ cartItem.catalog.color }};display: block; width:100%;height: 100%"></span>
                                                </a></td>
                                            <td class="hiraola-product-price">
                                                {% if cartItem.catalog.product.discountPrice != 0 %}
                                                    <span  class="amount"> {{ (cartItem.catalog.product.discountPrice * cartItem.quantity  / 100) |number_format(2, '.', ',') }}</span>{{ currency_ar }}
                                                {% else %}
                                                    <span  class="amount">{{ (cartItem.catalog.product.price * cartItem.quantity  / 100) |number_format(2, '.', ',') }}</span>{{ currency_ar }}
                                                {% endif %}
                                            </td>
                                            <td class="quantity">
                                                <input type="hidden" name="catalog-{{ loop.index }}"
                                                       value="{{ cartItem.catalog.id }}">
                                                <label>كمية</label>
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="{{ cartItem.quantity }}" type="number" name="quantity-{{ loop.index }}">
                                                    <div class="dec qtybutton js-quantity"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton js-quantity" data-max="{{ cartItem.catalog.quantity }}"><i class="fa fa-angle-up"></i></div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                {% if cartItem.catalog.product.discountPrice != 0 %}
                                                    <span class="amount"> {{ (cartItem.catalog.product.discountPrice * cartItem.quantity  / 100) |number_format(2, '.', ',') }}</span>{{ currency_ar }}
                                                {% else %}
                                                    <span class="amount">{{ (cartItem.catalog.product.price * cartItem.quantity  / 100) |number_format(2, '.', ',') }}</span>{{ currency_ar }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% if cartItem.catalog.product.discountPrice != 0 %}
                                            {% set total = total + (cartItem.quantity * cartItem.catalog.product.discountPrice)/100 %}
                                        {% else %}
                                            {% set total = total + (cartItem.quantity * cartItem.catalog.product.price)/100 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="form__note mb-3">
                                        {% for message in app.flashes('error')  %}
                                            <div style="color:#5e8350;font-size: 22px;" class="text-right">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if not coupon %}
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" maxLength="8" minlength="8" value="" placeholder="أدخل رمز القسيمة" type="text">
                                            <a href="javascript:void(0)" id="coupon_submit" class="button">تطبيق</a>
                                        </div>
                                    {% endif %}
                                    <div class="coupon2">
                                        <a href="{{ path('remove.cart', {locale: 'ar' ,route: page}) }}" class="button" >إخلاء عربة التسوق</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-md-5 mr-auto">
                                <div class="cart-page-total">
                                    <h2>توصيل</h2>
                                    <select class="nice-select" name="delivery-index" required="required">
                                        <option value="">حدد المحافظة...</option>
                                        {% for governorate in governorates %}
                                            <option {% if deliveryIndex is defined and deliveryIndex == loop.index %}  selected {% endif %}
                                                    value="{{ loop.index }}" data-price="{{ governorate.price }}">{{ governorate.nameAr }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="delivery">
                                </div>
                            </div>
                            <div class="col-md-5 ml-auto">
                                {% include 'product/_overlay.html.twig' %}
                                <div class="cart-page-total">
                                    <h2>إجماليات سلة التسوق</h2>
                                    <ul>
                                        <li>المجموع: <span id="subtotal" class="float-left">{{ total|number_format(2, '.', ',') }}{{ currency_ar }}</span></li>
                                        {% if coupon %}
                                            <li>تخفيض:({{ coupon.name }}): <a href="{{ path('coupon.destroy', { locale: 'ar' }) }}" style="font-size: 12px;color:#ffffff;">حذف</a><br>(استفد: {{ (coupon.type == 'fixed')? coupon.discountValue ~ currency : coupon.discountValue ~ '%' }}) <span class="float-left">{{ discount|number_format(3, '.', ',') }} {{ currency_ar }}</span></li>
                                            <li>المجموع الجديد: <span class="float-left">{{ (total-discount)|number_format(3, '.', ',') }} {{ currency_ar }}</span></li>
                                        {% endif %}
                                        <li>التوصيل: <span id="total" class="float-left">   {% if delivery is defined %}
                                                    {{ (delivery/100)|number_format(2, '.', ',') }}
                                                {% else %}
                                                    0.00
                                                {% endif %}
                                                {{ currency_ar }}
                                            </span></li>
                                        <li>إجمالي:
                                            <span id="total" class="float-left">
                                    {% if delivery is defined %}
                                        {{ (total+ (delivery/100)-discount)|number_format(2, '.', ',') }}
                                    {% else %}
                                        {{ (total-discount)|number_format(2, '.', ',') }}
                                    {% endif %}
                                                {{ currency_ar }}
								</span>

                                        </li>
                                    </ul>
                                    <a{% if delivery is null or delivery == 0 %} href="javascript:void(0)" {% else %} href="{{ path('order', { locale: 'ar' }) }}" {% endif %}
                                            {% if delivery is null or delivery == 0 %} disabled {% endif %}
                                    >انتقل إلى خيارات الدفع</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Cart Area End Here -->
    <style>
        .nice-select {
            float:right;
        }
        .nice-select .option {
            text-align: right;
        }
    </style>
    <script>
        let input = document.getElementById('coupon_code');
        let button = document.getElementById('coupon_submit');
        if(input){
            button.disabled = true;
            input.addEventListener("change", stateHandle);

            function stateHandle() {
                if((input.value === "") || (input.value.length !== 8)) {
                    button.href = "javascript:void(0)";
                } else {
                    console.log(input.value.length)
                    button.href = "/ar/coupon/"+ input.value;
                }
            }
        }
    </script>
{% endblock %}