{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area"  style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>حسابي</h2>
                <ul>
                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>
                    <li class="active">حسابي</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Hiraola's Page Content Area -->
    <main class="page-content">
        <!-- Begin Hiraola's Account Page Area -->
        <div class="account-page-area">
            <div class="container">
                <div class="row">
                    {% include 'account/side_barAr.html.twig' %}
                    <div class="col-lg-9">
                        <div class="tab-content myaccount-tab-content text-right" id="account-page-tab-content">
                            <div class="tab-pane fade show active" >
                                <div class="myaccount-details">
                                    {{ form_start(form, {'attr': {'class': 'hiraola-form'}}) }}
                                    <div class="hiraola-form-inner">
                                        <div class="single-input">
                                            <label for="account-details-firstname">كلمة سر قديمة *</label>
                                            {{ form_row(form.old_password) }}
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-lastname">كلمة السر الجديدة *</label>
                                            {{ form_row(form.new_password.first) }}
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-email">تأكيد كلمة المرور الجديدة *</label>
                                            {{ form_row(form.new_password.second) }}
                                        </div>
                                        <div class="single-input">
                                            <button class="hiraola-btn hiraola-btn_dark" type="submit"><span>حفظ التغييرات</span></button>
                                        </div>
                                        <div class="single-input">
                                            <a href="{{ path('account', { locale: 'en' }) }}" class="hiraola-btn hiraola-btn_dark" ><span>عودة
                                                </span></a>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Account Page Area End Here -->
    </main>
    <!-- Hiraola's Page Content Area End Here -->

{% endblock %}