{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area"  style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>About Us</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">About Us</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'earn' }) }}">الصفحة الرئيسية</a> / عنواني</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's About Us Area -->
    <!-- Begin Hiraola's Page Content Area -->
    <main class="page-content">
        <!-- Begin Hiraola's Account Page Area -->
        <div class="account-page-area">
            <div class="container">
                <div class="row">
                    {% include 'account/side_barAr.html.twig' %}
                    <div class="col-lg-9">
                        <div class="tab-content myaccount-tab-content text-right" id="account-page-tab-content">
                            <div class="tab-pane fade show active" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                                <div class="myaccount-address">
                                    <p>سيتم استخدام العناوين التالية في صفحة الخروج بشكل افتراضي.</p>
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="small-title">عنوان وصول الفواتير</h4>
                                            <address>
                                                {{ customer.address ~ '-' ~ customer.region ~ '-' ~ customer.governorate }}
                                            </address>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <a class="hiraola-btn hiraola-btn_dark hiraola-btn_sm" href="{{ path('edit.address', { locale: 'ar' }) }}">تعديل العنوان</a></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Account Page Area End Here -->
    </main>
    <!-- Hiraola's Page Content Area End Here -->
{% endblock %}