{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area"  style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>طلباتي</h2>
                <ul>
                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>
                    <li class="active">طلباتي</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Hiraola's Page Content Area -->
    <main class="page-content">
        <!-- Begin Hiraola's Account Page Area -->
        <div class="account-page-area">
            <div class="container">
                <div class="row">
                    {% include 'account/side_barAr.html.twig' %}
                    <div class="col-lg-9">
                        <div class="tab-content myaccount-tab-content text-right" id="account-page-tab-content">
                            <div class="tab-pane fade show active" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                <div class="myaccount-orders">
                                    <h4 class="small-title">طلباتي</h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr>
                                                <th>الطلب</th>
                                                <th>تاريخ</th>
                                                <th>الحالة</th>
                                                <th>المجموع</th>
                                                <th></th>
                                            </tr>
                                            {% for order in orders %}
                                                <tr>
                                                    <td><a class="account-order-id" href="javascript:void(0)">#{{ order.reference }}</a></td>
                                                    <td>{{ order.createdAt|date("F jS") }}</td>
                                                    <td>{{ order.status|capitalize }}</td>
                                                    <td>{{ ((order.total+order.deliveryPrice)/100)|number_format(2, '.', ',') }} {{ currency_ar }} ل {{ order.orderDetails|length }} العناصر</td>
                                                    <td>
                                                        {% if order.status != 'canceled' %}
                                                            <a href="{{ path('my.order.detail', {id:order.id}) }}" class="hiraola-btn hiraola-btn_dark hiraola-btn_sm"><span>معاينة</span></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Account Page Area End Here -->
    </main>
    <!-- Hiraola's Page Content Area End Here -->

{% endblock %}

