{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    {% include 'home/slides.html.twig' %}

{#    <!-- Begin Shine Aurora Shipping Area Two -->#}
{#    <div class="hiraola-shipping_area hiraola-shipping_area-2">#}
{#        <div class="container">#}
{#            <div class="shipping-nav">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="shipping-item">#}
{#                            <div class="shipping-icon">#}
{#                                <img src="{{ '/media/images/shipping-icon/1.png' }}" alt="Shine Aurora Shipping Icon">#}
{#                            </div>#}
{#                            <div class="shipping-content">#}
{#                                <h6>Free Uk Standard Delivery</h6>#}
{#                                <p>Designated day delivery</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="shipping-item">#}
{#                            <div class="shipping-icon">#}
{#                                <img src="{{ '/media/images/shipping-icon/2.png' }}" alt="Shine Aurora Shipping Icon">#}
{#                            </div>#}
{#                            <div class="shipping-content">#}
{#                                <h6>Freshyly Prepared Ingredients</h6>#}
{#                                <p>Made for your delivery date</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="shipping-item">#}
{#                            <div class="shipping-icon">#}
{#                                <img src="{{ '/media/images/shipping-icon/3.png' }}" alt="Shine Aurora Shipping Icon">#}
{#                            </div>#}
{#                            <div class="shipping-content">#}
{#                                <h6>98% Of Anta Clients</h6>#}
{#                                <p>Reach their personal goals set</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="shipping-item">#}
{#                            <div class="shipping-icon">#}
{#                                <img src="{{ '/media/images/shipping-icon/4.png' }}" alt="Shine Aurora Shipping Icon">#}
{#                            </div>#}
{#                            <div class="shipping-content">#}
{#                                <h6>Winner Of 15 Awards</h6>#}
{#                                <p>Healthy food and drink 2019</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Shine Aurora Shipping Area Two End Here -->#}

    <!-- Begin Shine Aurora Product Area -->
    <div class="hiraola-product_area section-space_add">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hiraola-section_title">
                        <h4>New Arrival</h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="tab-content hiraola-tab_content">
                        <div id="necklaces-1" class="tab-pane active show" role="tabpanel">
                            <div class="hiraola-product-tab_slider-3">
                                {% for product in products %}
                                    {% if product.isNew %}
                                        {% include 'home/_product.html.twig' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shine Aurora Product Area End Here -->

        {% include 'home/discount-banner.html.twig' %}

    <!-- Begin Shine Aurora Product Tab Area -->
    <div class="hiraola-product-tab_area-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hiraola-tab_title">
                        <h4>Products overview</h4>
                    </div>
                    <div class="product-tab">

                        <ul class="nav product-menu">
                            {% for category in categories %}
                                {% if category.products.getValues() is not empty %}
                                    <li><a {% if loop.index == 1%} class="active" {% endif %} data-toggle="tab" href="#{{ category.name }}"><span>{{ category.name }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content hiraola-tab_content">
                        {% for category in categories %}
                            {% if category.products.getValues() is not empty %}
                                <div id="{{ category.name }}" class="tab-pane {% if loop.index == 1%} active show {% endif %}" role="tabpanel">
                                <div class="hiraola-product-tab_slider-3 hiraola-product-tab_second-slider-3">
                                    {% for product in category.products %}
                                        {% if product.isShow %}
                                            {% include 'home/_product.html.twig' %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shine Aurora Product Tab Area End Here -->

{#    <div class="hiraola-banner_area-2">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-6">#}
{#                    <div class="banner-item img-hover_effect">#}
{#                        <a href="shop-left-sidebar.html">#}
{#                            <img class="img-full" src="{{ '/media/images/banner/1_5.jpg' }}" alt="Shine Aurora Banner">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-6">#}
{#                    <div class="banner-item img-hover_effect">#}
{#                        <a href="shop-left-sidebar.html">#}
{#                            <img class="img-full" src="{{ '/media/images/banner/1_6.jpg' }}" alt="Shine Aurora Banner">#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    </div>

       <!-- Modal1 -->
    {% include 'modal1.html.twig' %}
{% endblock %}