<div class="hiraola-slider_area-2">
    <div class="main-slider">
        {% for slide in slides %}
            <!-- Begin Single Slide Area -->
            <div class="single-slide animation-style-0{{ loop.index }}  bg-5"
                 style="background-image:  url({{ vich_uploader_asset(slide, 'imageFile') | imagine_filter('Extra_large') | imagine_filter('my_flip') }});">
                <div class="container">
                    <div class="slider-content text-right">
                        <h5>{{ slide.titleAr }}</h5>
                        <h2>{{ slide.contentAr }}</h2>
                        {# <h3>Surface Studio 2019</h3> #}
                        {# <h4>Starting at <span>£1599.00</span></h4> #}
                        <div class="hiraola-btn-ps_center slide-btn mt-2">
                            <a class="hiraola-btn" href="{{ slide.btnUrl }}">{{ slide.btnTitleAr }}</a>
                        </div>
                    </div>
                    <div class="slider-progress"></div>
                </div>
            </div>
            <!-- Single Slide Area End Here -->
        {% endfor %}
    </div>
</div>