{% extends 'baseAr.html.twig' %}

{% block body %}

{#    <!-- Begin Hiraola's Breadcrumb Area -->#}
{#    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">#}
{#        <div class="container">#}
{#            <div class="breadcrumb-content">#}
{#                <h2>اتصل بنا</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', { locale: 'en' }) }}">الصفحة الرئيسية</a></li>#}
{#                    <li class="active">اتصل بنا</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Hiraola's Breadcrumb Area End Here -->#}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>Contact</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">Contact</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">الصفحة الرئيسية</a> / اتصل بنا</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Contact Main Page Area -->

    <!-- Begin Contact Main Page Area -->
    <div class="contact-main-page">
        <div class="container">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3477.8205254609975!2d48.08247731546521!3d29.346255158169274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf762fcd8ae1c5%3A0x3d38baeb187cf5f1!2sSymphony%20Style%20Kuwait!5e0!3m2!1sen!2sdz!4v1631184136112!5m2!1sen!2sdz" width="1110" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{#                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3477.8205254609975!2d48.08247731546521!3d29.346255158169274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf762fcd8ae1c5%3A0x3d38baeb187cf5f1!2sSymphony%20Style%20Kuwait!5e0!3m2!1sen!2sdz!4v1631184136112!5m2!1sen!2sdz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>#}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                    <div class="contact-page-side-content text-right">
                        <h3 class="contact-page-title">اتصل بنا</h3>
                        <div class="single-contact-block">
                            <h4><i class="fa fa-fax"></i> العنوان</h4>
                            <p>فندق سيمفوني السالمية ، السرداب 1 ، محل رقم 33</p>
                        </div>
                        <div class="single-contact-block">
                            <h4><i class="fa fa-phone"></i> هاتف</h4>
                            <p>محمول: +965 50266444</p>
{#                            <p>الخط: 1009 678 456</p>#}
                        </div>
                        <div class="single-contact-block last-child">
                            <h4><i class="fa fa-envelope-o"></i> بريد إلكتروني</h4>
                            <p>info@shineaurora.com</p>
{#                            <p>support@hastech.company</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                    <div class="contact-form-content text-right">
                        <h3 class="contact-page-title">أخبرنا رسالتك</h3>
                        <div class="contact-form">
                            {{ form_start(form) }}
                            {% for message in app.flashes('success')  %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label>اسمك <span class="required">*</span></label>
                                {{ form_row(form.name) }}
                            </div>
                            <div class="form-group">
                                <label>بريدك الالكتروني <span class="required">*</span></label>
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                <label>موضوع</label>
                                {{ form_row(form.subject) }}
                            </div>
                            <div class="form-group form-group-2">
                                <label>رسالتك</label>
                                {{ form_row(form.message) }}
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" id="submit" class="alsita-contact-form_btn" name="submit">إرسال</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Main Page Area End Here -->
    <style>
        .map-responsive{

            overflow:hidden;

            padding-bottom:56.25%;

            /*position:relative;*/

            height:0;

        }

        /*.map-responsive iframe{*/
        /*    height:100%;*/

        /*    width:100%;*/
        /*}*/
    </style>

{% endblock %}

