{% extends 'baseAr.html.twig' %}

{% block body %}

{#    <!-- Begin Shine AuroraBreadcrumb Area -->#}
{#    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">#}
{#        <div class="container">#}
{#            <div class="breadcrumb-content">#}
{#                <h2>تسجيل الدخول</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>#}
{#                    <li class="active">تسجيل الدخول</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Shine AuroraBreadcrumb Area End Here -->#}
    <!-- Begin Shine AuroraBreadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>Login & Register</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">Login</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Shine AuroraBreadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a> / تسجيل الدخول</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Shine AuroraLogin Register Area -->
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-8 ml-auto mr-auto">
                    <!-- Login Form s-->
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.message | trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login', { locale: 'ar'}) }}"  method="post">
                        <div class="login-form text-right">
                            <h4 class="login-title">تسجيل الدخول</h4>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label>عنوان البريد الإلكتروني*</label>
                                    <input type="email" placeholder="البريد الإلكتروني" name="_username" value="{{ last_username }}">
                                </div>
                                <div class="col-12 mb--20">
                                    <label>كلمة المرور</label>
                                    <input type="password" placeholder="كلمة المرور" name="_password">
                                </div>
                                <div class="col-md-8">
                                    <div class="forgotton-password_info">
                                        <a href="{{ path('register', { locale: 'ar'}) }}"> إنشاء حساب...</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="forgotton-password_info">
                                        <a href="{{ path('app_forgot_password_request', { locale: 'ar'}) }}"> نسيت كلمة المرور الخاصة بـ؟</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="hiraola-login_btn">تسجيل الدخول</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->


{% endblock %}

