{% extends 'base.html.twig' %}

{% block body %}

    <!-- Begin Shine AuroraBreadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
{#            <div class="breadcrumb-content">#}
{#                <h2>Login & Register</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
{#                    <li class="active">Register</li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
    <!-- Shine AuroraBreadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / Register</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12 offset-lg-2">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb--20">
                                <label>Full Name</label>
                                {{ form_row(form.fullName, {'attr': {'placeholder':'Full Name'}}) }}
                            </div>
                            <div class="col-md-6 col-12 mb--20">
                                <label>UserName</label>
                                {{ form_row(form.username, {'attr': {'placeholder':'User Name'}}) }}
                            </div>
                            <div class="col-md-12">
                                <label>Email Address*</label>
                                {{ form_row(form.email, {'attr': {'placeholder':'Email'}}) }}
                            </div>
                            <div class="col-md-12">
                                <label>Phone*</label>
                                {{ form_row(form.phone, {'attr': {'placeholder':'Phone'}}) }}
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                {{ form_row(form.password.first, {'attr': {'placeholder':'Password'}}) }}
                            </div>
                            <div class="col-md-6">
                                <label>Confirm Password</label>
                                {{ form_row(form.password.second, {'attr': {'placeholder':'Confirm Password'}}) }}
                            </div>
                            <div class="col-md-8">
                                <button type="submit" class="hiraola-register_btn">Register</button>
                            </div>
                            <div class="col-md-4">
                                <div class="forgotton-password_info">
                                    <a href="{{ path('login', { locale: 'en'}) }}"> I have already an account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->


{% endblock %}

