{% extends 'baseAr.html.twig' %}

{% block body %}

{#    <!-- Begin Shine AuroraBreadcrumb Area -->#}
{#    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">#}
{#        <div class="container">#}
{#            <div class="breadcrumb-content">#}
{#                <h2>تسجيل</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', { locale: 'en' }) }}">الصفحة الرئيسية</a></li>#}
{#                    <li class="active">تسجيل</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Shine AuroraBreadcrumb Area End Here -->#}
    <!-- Begin Shine AuroraBreadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>Login & Register</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">Register</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Shine AuroraBreadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a> / تسجيل</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Shine AuroraLogin Register Area -->
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-8 ml-auto mr-auto">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    <div class="login-form text-right">
                        <h4 class="login-title">تسجيل</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb--20">
                                <label>الاسم الكامل</label>
                                {{ form_row(form.fullName, {'attr': {'placeholder':'الاسم الكامل'}}) }}
                            </div>
                            <div class="col-md-6 col-12 mb--20">
                                <label>اسم االمستخدم</label>
                                {{ form_row(form.username, {'attr': {'placeholder':'اسم االمستخدم'}}) }}
                            </div>
                            <div class="col-md-12">
                                <label>بريد إلكتروني*</label>
                                {{ form_row(form.email, {'attr': {'placeholder':'بريد إلكتروني'}}) }}
                            </div>
                            <div class="col-md-12">
                                <label>هاتف*</label>
                                {{ form_row(form.phone, {'attr': {'placeholder':'هاتف', 'maxLength': 8}}) }}
                            </div>
                            <div class="col-md-6">
                                <label>كلمة المرور</label>
                                {{ form_row(form.password.first, {'attr': {'placeholder':'كلمة المرور'}}) }}
                            </div>
                            <div class="col-md-6">
                                <label>إعادة كلمة المرور</label>
                                {{ form_row(form.password.second, {'attr': {'placeholder':'إعادة كلمة المرور'}}) }}
                            </div>
                            <div class="col-md-8">
                                <button type="submit" class="hiraola-register_btn">سجل الان</button>
                            </div>
                            <div class="col-md-4">
                                <div class="forgotton-password_info">
                                    <a href="{{ path('login', { locale: 'ar'}) }}"> لدي حساب بالفعل!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->

{% endblock %}



