{% extends 'base.html.twig' %}

{% block body %}

    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
{#            <div class="breadcrumb-content">#}
{#                <h2>Register</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', {locale:'en'}) }}">Home</a></li>#}
{#                    <li class="active">Register</li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / Register</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's Error 404 Page Area -->
    <div class="error404-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto text-center">
                    <div class="search-error-wrapper">
                        <h1>Register</h1>
                        <h2>Thank you for purchasing, Your order is complete</h2>
                        <div class="hiraola-btn-ps_center"></div>
                        <a href="{{ path('home', {locale:'en'}) }}" class="hiraola-error_btn">Back To Home Page</a>
                        <a href="{{ path('products') }}" class="hiraola-error_btn">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Error 404 Page End Here -->
{% endblock %}