{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Shine AuroraBreadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>إعادة تعيين كلمة المرور</h2>
                <ul>
                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>
                    <li class="active">إعادة تعيين كلمة المرور</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Shine AuroraBreadcrumb Area End Here -->
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-8 ml-auto mr-auto">
                    {{ form_start(requestForm) }}
                    <div class="login-form text-right">
                        <h4 class="login-title">إعادة تعيين كلمة المرور</h4>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label>بريد إلكتروني*</label>
                                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder':'بريد إلكتروني'}}) }}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="hiraola-login_btn">أرسل</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->

{% endblock %}

