{% extends 'base.html.twig' %}

{% block body %}

    {% include '_banner.html.twig' %}
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / Reset Password</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-8 offset-2">
                    <!-- Login Form s-->
                    {{ form_start(resetForm) }}
                        <div class="login-form">
                            <h4 class="login-title">Login</h4>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label>New Password</label>
                                    {{ form_row(resetForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'New Password'}}) }}
                                </div>
                                <div class="col-12 mb--20">
                                    <label>Confirm New Password</label>
                                    {{ form_row(resetForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'Confirm New Password'}}) }}
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="hiraola-login_btn">Reset</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->

{% endblock %}

