<!DOCTYPE html>
<html lang="ar-AL" dir="rtl" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shine Aurora</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <!--===============================================================================================-->
{#    <link rel="icon" type="image/png" href="{{ '/media/images/icons/favicon.png' }}"/>#}
    <link rel="icon" type="image/png" href="{{ '/media/images/icons/logo-03.png' }}"/>
    {{ encore_entry_link_tags('app-ar') }}

    {% block stylesheets %}{% endblock %}
    {% block javascript %}
    {% endblock %}
    <!--===============================================================================================-->
</head>
<body {% if page is defined and page == 'home' %} class="template-color-2" {% else %} class="template-color-1" {% endif %} >

<div class="main-wrapper">

{#    <!-- Begin Loading Area -->#}
{#    <div class="loading">#}
{#        <div class="text-center middle">#}
{#            <div class="lds-ellipsis">#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#                <div></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- Loading Area End Here -->
    {% if page is defined and page == 'home' %}
        <!-- Begin Hiraola's Newsletter Popup Area -->
        {% if popup.isShow %}
            {% if newsletter is defined and not newsletter %}
                {% cache 'popupAr;' ~ popup.id ~ ";" ~ popup.updatedAt.timestamp %}
                <div class="popup_wrapper">
                    <div class="test" style="background-image: url({{ vich_uploader_asset(popup, 'imageFile') }});">
                        <span class="popup_off"><i class="ion-android-close"></i></span>
                        <div class="subscribe_area text-right">
                            <h2>اشترك في النشرة الإخبارية</h2>
                            <p>اشترك في القائمة البريدية لتلقي العروضات والخصومات وكل ما وصل حديثا.</p>
                            <div class="subscribe-form-group">
                                {{ form_start(newsletterForm, {'attr': {'class': 'subscribe-form'}}) }}
                                {{ form_widget(newsletterForm.email, {'attr': {'placeholder':'أدخل عنوان بريدك الالكتروني', 'autocomplete':'off'}}) }}
                                <button type="submit">الإشتراك</button>
                                {{ form_end(newsletterForm) }}
                            </div>
                            {#                            <div class="subscribe-bottom">#}
                            {#                                <input type="checkbox" id="newsletter-permission">#}
                            {#                                <label for="newsletter-permission">Don't show this popup again</label>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
                {% endcache %}
            {% endif %}
        {% endif %}
        <!-- Hiraola's Newsletter Popup Area Here -->
    {% endif %}
    <!-- Begin Shine Aurora Header Main Area Two -->
    <header class="header-main_area {% if page is defined and page == 'home' %} header-main_area-2 {% endif %}">
        {#        {% if page is defined and page == 'home' %}#}
        <div class="header-bottom_area header-bottom_area-2 {% if page is defined and page != 'home' %} header-bottom_area-3 {% endif %} header-sticky stick">
            <div class="container-fliud">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-3">
                        <div class="header-logo">
                            <a href="{{ path('home', { locale: 'ar' }) }}">
                                <img src="{{ '/media/images/icons/logo-01.png' }}" width="180"
                                     alt="Shine Aurora Header Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block position-static">
                        <div class="main-menu_area">
                            <nav>
                                <ul>
                                    <li class="dropdown-holder"><a
                                                href="{{ path('home', { locale: 'ar' }) }}">الرئيسية</a>
                                    </li>
                                    <li class="megamenu-holder"><a href="{{ path('products', { locale: 'ar' }) }}">المنتجات</a>
                                    </li>
                                    <li><a href="{{ path('about.us', { locale: 'ar' }) }}">من نحن</a></li>
                                    <li><a href="{{ path('contact.us', { locale: 'ar' }) }}">تواصل معنا</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-9">
                        <div class="header-right_area ht-menu">
                            <ul>
                                <li>
                                    <a href="{{ path('wishlist', { locale: 'ar' }) }}" class="wishlist-btn">
                                        <i class="ion-android-favorite-outline">
                                            <span class="total">{{ wishlist|length }}</span>
                                        </i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#mobileMenu"
                                       class="mobile-menu_btn toolbar-btn color--white d-lg-none d-block">
                                        <i class="ion-navicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                        <i class="ion-bag">
                                            <span class="total">{{ cart|length }}</span>
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a
                                            {% if app.user %}
                                                href="{{ path('account', { locale: 'ar' }) }}"
                                            {% else %}
                                                href="{{ path('login', { locale: 'ar' }) }}"
                                            {% endif %}
                                    >
                                        <i class="ion-android-person"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('home' , { locale: 'en' }) }}">
                                        <i class="ion-android-globe"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-search_wrapper" id="searchBar">
            <div class="offcanvas-menu-inner">
                <div class="container">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <!-- Begin Offcanvas Search Area -->
                    <div class="offcanvas-search">
                        <form action="#" class="hm-searchbox">
                            <input type="text" placeholder="Search for item...">
                            <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                    <!-- Offcanvas Search Area End Here -->
                </div>
            </div>
        </div>
        {#        {% else %}#}
        {#            <div class="header-top_area">#}
        {#                <div class="container">#}
        {#                    <div class="row">#}
        {#                        <div class="col-lg-5">#}
        {#                            <div class="ht-left_area">#}
        {#                                <div class="header-shipping_area">#}
        {#                                    <ul>#}
        {#                                        <li>#}
        {#                                            <span>Telephone Enquiry:</span>#}
        {#                                            <a href="callto://+123123321345">(+123) 123 321 345</a>#}
        {#                                        </li>#}
        {#                                    </ul>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-7">#}
        {#                            <div class="ht-right_area">#}
        {#                                <div class="ht-menu">#}
        {#                                    <ul>#}
        {#                                        <li><a href="javascript:void(0)">Language <i class="fa fa-chevron-down"></i></a>#}
        {#                                            <ul class="ht-dropdown">#}
        {#                                                <li class="active"><a href="javascript:void(0)"><img#}
        {#                                                                src="{{ '/media/images/menu/icon/1.jpg' }}"#}
        {#                                                                alt="JB's Language Icon">English</a></li>#}
        {#                                                <li><a href="javascript:void(0)"><img#}
        {#                                                                src="{{ '/media/images/menu/icon/2.jpg' }}"#}
        {#                                                                alt="JB's Language Icon">Arabic</a>#}
        {#                                                </li>#}
        {#                                            </ul>#}
        {#                                        </li>#}
        {#                                        <li>#}
        {#                                            <a href="{% if app.user %}{{ path('account', { locale: 'en' }) }}{% else %} javascript:void(0) {% endif %}">My#}
        {#                                                Account<i class="fa fa-chevron-down"></i></a>#}
        {#                                            <ul class="ht-dropdown ht-my_account">#}
        {#                                                {% if app.user %}#}
        {#                                                    <li>{{ 'Hello ' ~ app.user.username }}</li>#}
        {#                                                    <li class="active"><a href="{{ path('logout', { locale: 'en' }) }}">Logout</a>#}
        {#                                                    </li>#}
        {#                                                {% else %}#}
        {#                                                    <li><a href="{{ path('register', { locale: 'en' }) }}">Register</a>#}
        {#                                                    </li>#}
        {#                                                    <li class="active"><a href="{{ path('login', { locale: 'en' }) }}">Login</a>#}
        {#                                                    </li>#}
        {#                                                {% endif %}#}
        {#                                            </ul>#}
        {#                                        </li>#}
        {#                                    </ul>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="header-middle_area d-none d-lg-block">#}
        {#                <div class="container">#}
        {#                    <div class="row">#}
        {#                        <div class="col-lg-3">#}
        {#                            <div class="header-logo">#}
        {#                                <a href="index.html">#}
        {#                                    <img src="{{ '/media/images/icons/logo-01.png' }}" width="180"#}
        {#                                         alt="Shine Aurora Header Logo">#}
        {#                                </a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-9">#}
        {#                            <div class="hm-form_area">#}
        {#                                <form action="#" class="hm-searchbox">#}
        {#                                    <input type="text" placeholder="Enter your search key ...">#}
        {#                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>#}
        {#                                </form>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="header-bottom_area header-sticky stick">#}
        {#                <div class="container">#}
        {#                    <div class="row">#}
        {#                        <div class="col-md-4 col-sm-4 d-lg-none d-block">#}
        {#                            <div class="header-logo">#}
        {#                                <a href="{{ path('home', { locale: 'en' }) }}">#}
        {#                                    <img src="{{ '/media/images/icons/logo-01.png' }}" alt="Shine Aurora Header Logo">#}
        {#                                </a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-9 d-none d-lg-block position-static">#}
        {#                            <div class="main-menu_area">#}
        {#                                <nav>#}
        {#                                    <ul>#}
        {#                                        <li class="dropdown-holder"><a#}
        {#                                                    href="{{ path('home', { locale: 'en' }) }}">Home</a>#}
        {#                                        </li>#}
        {#                                        <li class="megamenu-holder"><a href="{{ path('products', { locale: 'en' }) }}">Shop</a>#}
        {#                                        </li>#}
        {#                                        <li><a href="{{ path('about.us', { locale: 'en' }) }}">About Us</a></li>#}
        {#                                        <li><a href="{{ path('contact.us', { locale: 'en' }) }}">Contact</a></li>#}
        {#                                    </ul>#}
        {#                                </nav>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col-lg-3 col-md-8 col-sm-8">#}
        {#                            <div class="header-right_area">#}
        {#                                <ul>#}
        {#                                    <li>#}
        {#                                        <a href="wishlist.html" class="wishlist-btn">#}
        {#                                            <i class="ion-android-favorite-outline"></i>#}
        {#                                        </a>#}
        {#                                    </li>#}
        {#                                    <li>#}
        {#                                        <a href="#mobileMenu"#}
        {#                                           class="mobile-menu_btn toolbar-btn color--white d-lg-none d-block">#}
        {#                                            <i class="ion-navicon"></i>#}
        {#                                        </a>#}
        {#                                    </li>#}
        {#                                    <li>#}
        {#                                        <a href="#miniCart" class="minicart-btn toolbar-btn">#}
        {#                                            <i class="ion-bag"></i>#}
        {#                                        </a>#}
        {#                                    </li>#}
        {#                                </ul>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endif %}#}
        <div class="offcanvas-minicart_wrapper" id="miniCart">
            {% set total = null %}
            <div class="offcanvas-menu-inner">
                <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                <div class="minicart-content text-right">
                    <div class="minicart-heading">
                        <h4>سلتك</h4>
                    </div>
                    {% if cart %}
                        <ul class="minicart-list">
                            {% for cartItem in cart %}
                                <li class="minicart-product">
                                    <a class="product-item_remove"
                                       href="{{ path('delete.cart', {locale: 'ar', id: cartItem.catalog.id, route:page}) }}"><i
                                                class="ion-android-close"></i></a>
                                    <div class="product-item_img">
                                        <img src="{{ vich_uploader_asset(cartItem.catalog.product.images.first, 'imageFile') }}"
                                             alt="{{ cartItem.catalog.product.name }}">
                                    </div>
                                    <div class="product-item_content">
                                        <a class="product-item_title"
                                           href="{{ path('product', {'slug': cartItem.catalog.product.slug }) }}">{{ cartItem.catalog.product.nameAr|upper }}</a>
                                        <span class="product-item_quantity" style="display: flex;justify-content:space-between; ">
                                                <a href="javascript:void(0)"  class="cart-single-color" data-swatch-color="red">
                                                    <span style="background-color: {{ cartItem.catalog.color }};display: block; width:100%;height: 100%"></span>
                                                </a>
                                                المقاس: {{ cartItem.catalog.size }}
                                        </span>
                                        <span class="product-item_quantity">
                                    {% if cartItem.catalog.product.discountPrice != 0 %}
                                         {{ (cartItem.catalog.product.discountPrice / 100) |number_format(2, '.', ',') ~ 'x' ~ cartItem.quantity }}  {{ currency_ar }}
                                    {% else %}
                                         {{ (cartItem.catalog.product.price / 100) |number_format(2, '.', ',') ~ 'x' ~ cartItem.quantity }}  {{ currency_ar }}
                                    {% endif %}
                                </span>
                                    </div>
                                </li>
                                {% if cartItem.catalog.product.discountPrice != 0 %}
                                    {% set total = total + (cartItem.quantity * cartItem.catalog.product.discountPrice) %}
                                {% else %}
                                    {% set total = total + (cartItem.quantity * cartItem.catalog.product.price) %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <img class="img-responsive" src="{{ '/media/images/waiting.png' }}" width=240 alt="ICON-PAY">

                    {% endif %}
                </div>
                <div class="minicart-item_total">
                    <span>مجموع</span>
                    <span class="ammount">
                        {% if cart %}
                            {{ (total / 100)|number_format(2) }} {{ currency_ar }}
                        {% else %}
                            00.0 {{ currency_ar }}
                        {% endif %}
                    </span>
                </div>
                <div class="minicart-btn_area">
                    <a href="{{ path('cart', { locale: 'ar' }) }}" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">عرض عربة التسوق</a>
                </div>
                <div class="minicart-btn_area">
                    <a {% if cart|length != 0 %} href="{{ path('remove.cart', {locale: 'ar', route: page}) }}" {% endif %}
                            class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth"
                            {% if cart|length == 0 %} disabled="true" {% endif %}>إخلاء عربة التسوق</a>
                </div>
            </div>
        </div>
        <div class="mobile-menu_wrapper" id="mobileMenu">
            <div class="offcanvas-menu-inner">
                <div class="container">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="offcanvas-inner_search">
                        <form action="#" class="hm-searchbox">
                            <input type="text" placeholder="Search for item...">
                            <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                    <nav class="offcanvas-navigation text-right">
                        <ul class="mobile-menu">
                            <li><a href="{{ path('home', { locale: 'ar' }) }}"><span class="mm-text">الرئيسية</span></a>

                            </li>
                            <li>
                                <a href="{{ path('products', { locale: 'ar' }) }}">
                                    <span class="mm-text">متجر</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('about.us', { locale: 'ar' }) }}">
                                    <span class="mm-text">من نحن</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('contact.us', { locale: 'ar' }) }}">
                                    <span class="mm-text">اتصل بنا</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="offcanvas-navigation user-setting_area text-right">
                        <ul class="mobile-menu">
                            {% if app.user %}
                                <li>
                                    <a href="{{ path('account', { locale: 'ar' }) }}">
                                        <span class="mm-text">حسابي</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('logout', { locale: 'ar' }) }}">
                                        <span class="mm-text">تسجيل خروج</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('login', { locale: 'ar' }) }}">
                                        <span class="mm-text">تسجيل الدخول</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('register', { locale: 'ar' }) }}">
                                        <span class="mm-text">الاشتراك</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('home', { locale: 'en' }) }}"><span class="mm-text">الإنجليزية</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Shine Aurora Header Main Area Two End Here -->

    {% block body %}{% endblock %}

    <!-- Begin Shine Aurora Footer Area -->
{#    <div class="hiraola-footer_area">#}
{#        <div class="footer-top_area">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-4 text-right">#}
{#                        <div class="footer-widgets_info">#}

{#                            <div class="footer-widgets_logo">#}
{#                                <a href="#">#}
{#                                    <img src="{{ '/media/images/icons/logo-01.png' }}" width="180" alt="Shine Aurora Footer Logo">#}
{#                                </a>#}
{#                            </div>#}

{#                            <div class="widget-short_desc">#}
{#                                <p>#}
{#                                    xxxxxxxxxxxxx#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="hiraola-social_link">#}
{#                                <ul>#}
{#                                    <li class="facebook">#}
{#                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"#}
{#                                           title="Facebook">#}
{#                                            <i class="fab fa-facebook"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="twitter">#}
{#                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"#}
{#                                           title="Twitter">#}
{#                                            <i class="fab fa-twitter-square"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="google-plus">#}
{#                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"#}
{#                                           target="_blank" title="Google Plus">#}
{#                                            <i class="fab fa-google-plus"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="instagram">#}
{#                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"#}
{#                                           title="Instagram">#}
{#                                            <i class="fab fa-instagram"></i>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-8 text-right">#}
{#                        <div class="footer-widgets_area">#}
{#                            <div class="row">#}
{#                                <div class="col-lg-3">#}
{#                                    <div class="footer-widgets_title">#}
{#                                        <h6>متجر</h6>#}
{#                                    </div>#}
{#                                    <div class="footer-widgets">#}
{#                                        <ul>#}
{#                                            {% set break = false %}#}
{#                                            {% for category in categories  %}#}
{#                                                {% if not break %}#}
{#                                                    {% if loop.index <= 4 %}#}
{#                                                        <li><a href="#">{{ category.nameAr }}</a></li>#}
{#                                                    {% else %}#}
{#                                                        <li><a href="{{ path('products', { locale: 'ar' }) }}">المزيد</a></li>#}
{#                                                        {% set break = true %}#}
{#                                                    {% endif %}#}
{#                                                {% endif %}#}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-5">#}
{#                                    <div class="footer-widgets_info">#}
{#                                        <div class="footer-widgets_title">#}
{#                                            <h6>اتصل بنا</h6>#}
{#                                        </div>#}
{#                                        <div class="widgets-essential_stuff">#}
{#                                            <ul>#}
{#                                                <li class="hiraola-address"><i class="ion-ios-location"></i><span>عنوان:</span>#}
{#                                                    مدينة جابر الأحمد ، الكويت#}
{#                                                </li>#}
{#                                                <li class="hiraola-phone"><i class="ion-ios-telephone"></i><span>هاتف:</span>#}
{#                                                    <a href="tel://+123123321345">+965 50266444</a>#}
{#                                                </li>#}
{#                                                <li class="hiraola-email"><i#}
{#                                                            class="ion-android-mail"></i><span>بريد إلكتروني:</span> <a#}
{#                                                            href="mailto://info@yourdomain.com">info@shineaurora.com</a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-4">#}
{#                                    <div class="instagram-container footer-widgets_area">#}
{#                                        <div class="footer-widgets_title">#}
{#                                            <h6>الاشتراك في النشرة الإخبارية</h6>#}
{#                                        </div>#}
{#                                        <div class="widget-short_desc">#}
{#                                            <p>اشترك في نشراتنا الإخبارية الآن وكن على اطلاع دائم بالمجموعات الجديدة</p>#}
{#                                        </div>#}
{#                                        <div class="newsletter-form_wrap">#}
{#                                            {% if page is defined and page != 'home' %}#}
{#                                                {{ form_start(newsletterForm) }}#}
{#                                                <div id="mc_embed_signup_scroll">#}
{#                                                    <div id="mc-form" class="mc-form subscribe-form">#}
{#                                                        {{ form_widget(newsletterForm.email, {'attr': {'class':'newsletter-input','placeholder':'أدخل بريدك الإلكتروني', 'autocomplete':'off'}}) }}#}
{#                                                        <button class="newsletter-btn" type="submit">#}
{#                                                            <i class="ion-android-mail" aria-hidden="true"></i>#}
{#                                                        </button>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                {{ form_end(newsletterForm) }}#}
{#                                            {% else %}#}
{#                                                <form action="{{ path('home', { locale: 'ar' }) }}" method="post"  class="newsletters-form validate" novalidate>#}
{#                                                    <div id="mc_embed_signup_scroll">#}
{#                                                        <div id="mc-form" class="mc-form subscribe-form">#}
{#                                                            <input id="mc-email" class="newsletter-input" type="email" autocomplete="off" placeholder="أدخل بريدك الإلكتروني" />#}
{#                                                            <button class="newsletter-btn" id="mc-submit">#}
{#                                                                <i class="ion-android-mail" aria-hidden="true"></i>#}
{#                                                            </button>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </form>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="footer-bottom_area">#}
{#            <div class="container">#}
{#                <div class="footer-bottom_nav">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <div class="copyright">#}
{#                                <span>حقوق النشر &copy; 2021 <a href="{{ path('home') }}">تألق أورورا.</a> جميع الحقوق محفوظة.</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- Shine Aurora Footer Area End Here -->

    <!-- Begin Shine Aurora Footer Area 2 -->

    <div id="shopify-section-1489285367207" class="shopify-section newsletter-section">

        <div class="newsletter_section
            newsletter-both-names--false
            newsletter-bgr-true
            text-align--center
                        blur-up lazyloaded"
             style="background-image: url(https://cdn.shopify.com/s/files/1/2710/6368/files/Descarga_gratis_Fondo_Textura_Papel_Marron_1600x.jpeg?v=1595406612)">
            <div class="container">
                <div class="offset-by-three ten columns section_form"><h2 class="title">اشترك في القائمة البريدية</h2>
                    <div class="newsletter-text"><p> لتلقي العروضات والخصومات وكل ما وصل حديثا</p></div>
                    <div class="newsletter"><span class="message"></span>
                        {% if page is defined and page != 'home' %}
                            {{ form_start(newsletterForm) }}
                            {{ form_widget(newsletterForm.email, {'attr': {'class':'contact_email', 'placeholder':'أدخل عنوان بريدك الالكتروني...', 'autocomplete':'off'}}) }}
                            <input type="submit" value="اشتراك" class="action_button sign_up" name="subscribe">
                            {{ form_end(newsletterForm) }}
                        {% else %}
                            <form action=""
                                  method="post" name="mc-embedded-subscribe-form" id="contact_form"><input
                                        type="email" value="" name="email" class="contact_email"
                                        placeholder="أدخل عنوان بريدك الالكتروني..."> <input type="submit" value="اشتراك"
                                                                                          class="action_button sign_up"
                                                                                          name="subscribe">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="shopify-section-footer" class="shopify-section footer-section">

        <footer class="footer">
            <div class="container footer-menu-wrap">
                <div class="four columns">
                    <div class="text-right"><img
                                src="{{ '/media/images/icons/logo-01.png' }}"
                                alt="" class="footer-logo blur-up lazyloaded" data-sizes="25vw" style="max-width:1191px">
                    </div>
                </div>
                <div class="four columns text-right">
                    <div class="footer_menu"><h6>الدعم<span class="right icon-down-arrow"></span></h6>
                        <div class="toggle_content">
                            <ul>
                                <li><a href="{{ path('help', { locale: 'ar' }) }}">المساعدة</a></li>
                                <li><a href="{{ path('shipping.delivery', { locale: 'ar' }) }}"> التوصيل و التسلبم</a></li>
                                <li><a href="{{ path('return.policy', { locale: 'ar' }) }}">سياسة الاسترجاع</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="four columns text-right">
                    <div class="footer_menu"><h6>معلومات<span class="right icon-down-arrow"></span></h6>
                        <div class="toggle_content">
                            <ul>
                                <li><a href="{{ path('contact.us', { locale: 'ar' }) }}">اتصل بنا</a></li>
                                <li><a href="{{ path('privacy.policy', { locale: 'ar' }) }}">سياسة الموقع</a></li>
                                <li><a href="{{ path('terms.conditions', { locale: 'ar' }) }}">الشروط و الاحكام</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="four columns text-right">
                    <div class="footer_content"></div>
                    <div class="hiraola-social_link">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/shineauroraboutique" data-toggle="tooltip" target="_blank"
                                   title="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
{#                            <li class="twitter">#}
{#                                <a href="https://youtube.com" data-toggle="tooltip" target="_blank"#}
{#                                   title="Youtube">#}
{#                                    <i class="fab fa-youtube"></i>#}
{#                                </a>#}
{#                            </li>#}
                            <li class="instagram">
                                <a href="https://www.instagram.com/shineaurorakw" data-toggle="tooltip" target="_blank"
                                   title="Instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-social-icons--mobile sixteen columns">
                    <ul class="social_icons">
                        <li><a href="https://www.pinterest.com/IsolaClothing/" title="Isola Clothing on Pinterest"
                               rel="me" target="_blank" class="icon-pinterest"></a></li>
                        <li><a href="http://www.instagram.com/isola.clothing" title="Isola Clothing on Instagram"
                               rel="me" target="_blank" class="icon-instagram"></a></li>
                        <li><a href="mailto:support@isolaclothing.com" title="Email Isola Clothing" target="_blank"
                               class="icon-mail"></a></li>

                    </ul>
                </div>
                <div class="sixteen columns row footer_credits">
                    <p class="credits">
                        <!--Below line was commmented to not use shop.name (22/7/20 Sunny) -->
                        <!--&copy; 2021 <a href="/" title="">Isola Clothing</a>.-->
                        جميع الحقوق محفوظة &copy; 2021 <a href="{{ path('home') }}">شاين أورورا.</a> .</p>
                    <div class="payment_methods">
                        <img
                                src="{{ '/media/images/icons/icon-pay.png' }}">
                        {#                        <img#}
                        {#                                src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/google_pay-c66a29c63facf2053bf69352982c958e9675cabea4f2f7ccec08d169d1856b31.svg"#}
                        {#                                alt="Google pay"> <img#}
                        {#                                src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/master-173035bc8124581983d4efa50cf8626e8553c2b311353fbf67485f9c1a2b88d1.svg"#}
                        {#                                alt="Master"> <img#}
                        {#                                src="//cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg"#}
                        {#                                alt="Visa">#}
                    </div>
                </div><!--end footer_credits--></div>
        </footer>
    </div>

    <!-- Shine Aurora Footer Area End Here 2 -->


</div>

<!--===============================================================================================-->
{{ encore_entry_script_tags('app-ar') }}

{% block javascripts %}{% endblock %}
<!--===============================================================================================-->

</body>
</html>
