{% extends 'base.html.twig' %}
{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
{#            <div class="breadcrumb-content">#}
{#                <h2>Order</h2>#}
{#                <ul>#}
{#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
{#                    <li class="active">Checkout</li>#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / Checkout</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's Checkout Area -->
    <div class="checkout-area">
        <div class="container">
            {{ form_start(form, { 'attr': {'class': 'row', 'onsubmit': 'setFormSubmitting()'}}) }}
            <div class="col-lg-6 col-12">
                <div class="checkbox-form">
                    <h3>Billing Details</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>Full Name <span class="required">*</span></label>
                                {{ form_widget(form.shippingFullName, {'attr': {'placeholder':'Enter Your Full Name'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>Address <span class="required">*</span></label>
                                {{ form_widget(form.shippingAddress, {'attr': { 'placeholder':'Enter Your Address'}}) }}
                            </div>
                        </div>
{#                        <div class="col-md-12">#}
{#                            <div class="checkout-form-list">#}
{#                                <label>Region<span class="required">*</span></label>#}
{#                                {{ form_widget(form.shippingCity, {'id': 'city', 'attr': {'placeholder':'Region'}}) }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-12">#}
{#                            <div class="checkout-form-list">#}
{#                                <label>Governorate<span class="required">*</span></label>#}
{#                                {{ form_widget(form.shippingProvince, {'id': 'province', 'attr': {'class': 'form-control', 'placeholder':'Governorate'}}) }}#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>Email Address <span class="required">*</span></label>
                                {{ form_widget(form.shippingEmail, {'attr': {'class': 'form-control', 'placeholder':'Your Email'}}) }}
                                {{ form_errors(form.shippingEmail) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>Phone <span class="required">*</span></label>
                                {{ form_widget(form.shippingPhone, {'attr': {'class': 'form-control', 'placeholder':'Your Phone', 'maxLength': 8}}) }}
                                {{ form_errors(form.shippingPhone) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="checkout-form-list">
                                <label>Phone <span class="required">(Optional)</span></label>
                                {{ form_widget(form.shippingSecondPhone, {'attr': {'class': 'form-control', 'placeholder':'Your Second Phone', 'maxLength': 8}}) }}
                                {{ form_errors(form.shippingSecondPhone) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        {% set total = null %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="cart-product-name">Product</th>
                                <th class="cart-product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for productCart in cart2order %}
                                <tr class="cart_item">
                                <td class="cart-product-name"> {{ productCart.catalog.product.name }}<strong class="product-quantity">
                                        × {{ productCart.quantity }}</strong></td>
                                <td class="cart-product-total"><span class="amount">
                                             {% if productCart.catalog.product.discountPrice != 0 %}
                                                 {{ (productCart.quantity * productCart.catalog.product.discountPrice/100) |number_format(2, '.', ',')~ currency }}
                                             {% else %}
                                                 {{ (productCart.quantity * productCart.catalog.product.price/100) |number_format(2, '.', ',')~ currency }}
                                             {% endif %}
                                    </span></td>
                            </tr>
                                {% if productCart.catalog.product.discountPrice != 0 %}
                                    {% set total = total + ((productCart.quantity * productCart.catalog.product.discountPrice)/100) %}
                                {% else %}
                                    {% set total = total + ((productCart.quantity * productCart.catalog.product.price)/100) %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th>Cart Subtotal</th>
                                <td><span class="amount">{{ total |number_format(2, '.', ',')  ~currency }}</span></td>
                            </tr>
                            <tr class="cart-delivery">
                                <th>delivery fees</th>
                                <td><span class="amount">{{ (delivery2order/100) |number_format(2, '.', ',') ~ currency }}</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Order Total</th>
                                <td><strong><span class="amount">{{ (total + (delivery2order/100)) |number_format(2, '.', ',') ~ currency }}</span></strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="order-button-payment">
                                <input value="Next" type="submit">
                            </div>
                            <div class="p-t-10">
                                <a class="hiraola-btn w-100" href="{{ path('back.to.cart', { locale: 'en' }) }}">
                                    Back To Cart
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Hiraola's Checkout Area End Here -->
{% endblock %}

{% block javascripts %}
    <script>
        var formSubmitting = false;
        var setFormSubmitting = function () {
            formSubmitting = true;
        };

        window.onload = function () {
            window.addEventListener("beforeunload", function (e) {
                if (formSubmitting) {
                    return undefined;
                }

                var confirmationMessage = 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.';

                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
            });
        };
    </script>
{% endblock %}
