{% extends 'baseAr.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
{% endblock %}
{% block body %}
    {% set total = null %}
{#    {% set isTrue = false %}#}
    {% for orderDetail in cart2order %}
        {% if orderDetail.catalog.product.discountPrice != 0 %}
            {% set subTotal = ((orderDetail.quantity * orderDetail.catalog.product.discountPrice)) %}
        {% else %}
            {% set subTotal = ((orderDetail.quantity * orderDetail.catalog.product.price)) %}
        {% endif %}
{#        {% if subTotal < 50 %}#}
{#            {% set isTrue = true %}#}
{#        {% endif %}#}
        {% set total = total + subTotal %}
    {% endfor %}
    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            {#            <div class="breadcrumb-content">#}
            {#                <h2>Order</h2>#}
            {#                <ul>#}
            {#                    <li><a href="{{ path('home', { locale: 'en' }) }}">Home</a></li>#}
            {#                    <li class="active">Checkout</li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a> / الدفع</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Hiraola's Checkout Area -->
    <!-- Begin Hiraola's Checkout Area -->
    <div class="checkout-area js-checkout">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="your-order text-right">
                        <div class="details_item">
                            <h3>معلومات الطلب</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="cart-product-name">رقم الطلب :</td>
                                    <td class="cart-product-total">{{ order.reference }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">تاريخ الطلب :</td>
                                    <td class="cart-product-total">{{ order.createdAt|date("m/d/Y") }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">مجموع :</td>
                                    <td class="cart-product-total">{{ (total + order.deliveryPrice)/100|number_format(2, '.', ',') ~ currency_ar }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">سعر تسليم :</td>
                                    <td class="cart-product-total">{{ order.deliveryPrice/100|number_format(2, '.', ',') ~ currency_ar }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="details_item">
                            <h3>معلومات الفاتورة</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="cart-product-name">اسم :</td>
                                    <td class="cart-product-total">{{ order.shippingFullName }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">بريد إلكتروني :</td>
                                    <td class="cart-product-total">{{ order.shippingEmail }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">هاتف :</td>
                                    <td class="cart-product-total">{{ order.shippingPhone }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="details_item">
                            <h3>عنوان وصول الطلب</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="cart-product-name">شارع :</td>
                                    <td class="cart-product-total">{{ order.shippingAddress }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">مدينة :</td>
                                    <td class="cart-product-total">{{ order.shippingCity }}</td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">محافظة :</td>
                                    <td class="cart-product-total">{{ order.shippingProvince }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order text-right">
                        <h3>تفاصيل الطلب</h3>
                        <div class="your-order-table table-responsive">
                            {% set total = null %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="cart-product-name text-right">المنتج</th>
                                    <th class="cart-product-total text-right">مجموع</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for productCart in cart2order %}
                                    <tr class="cart_item">
                                        <td class="cart-product-name"> {{ productCart.catalog.product.nameAr }}<strong class="product-quantity">
                                                × {{ productCart.quantity }}</strong></td>
                                        <td class="cart-product-total"><span class="amount">
                                             {% if productCart.catalog.product.discountPrice != 0 %}
                                                 {{ (productCart.quantity * productCart.catalog.product.discountPrice/100) |number_format(2, '.', ',')~ currency_ar }}
                                             {% else %}
                                                 {{ (productCart.quantity * productCart.catalog.product.price/100) |number_format(2, '.', ',')~ currency_ar }}
                                             {% endif %}
                                    </span></td>
                                    </tr>
                                    {% if productCart.catalog.product.discountPrice != 0 %}
                                        {% set total = total + ((productCart.quantity * productCart.catalog.product.discountPrice)/100) %}
                                    {% else %}
                                        {% set total = total + ((productCart.quantity * productCart.catalog.product.price)/100) %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="cart-subtotal">
                                    <th>المجموع</th>
                                    <td><span class="amount">{{ total |number_format(2, '.', ',')  ~currency_ar }}</span></td>
                                </tr>
                                <tr class="cart-delivery">
                                    <th>التوصيل</th>
                                    <td><span class="amount">{{ (order.deliveryPrice/100) |number_format(2, '.', ',') ~ currency_ar }}</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>الإجمالي</th>
                                    <td><strong><span class="amount">{{ (total + (order.deliveryPrice/100)) |number_format(2, '.', ',') ~ currency_ar }}</span></strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <h3>طريقة الدفع</h3>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                {{ form_start(payment_method_form, {action: path('my.fatoorah.create.session', { id: order.id , locale: 'ar' }), 'attr': {'onsubmit': 'setFormSubmitting()'}}) }}
                                <div class="p-t-15 p-all-30">
                                    <div class="payment-type">

                                        <div class="types flex justify-space-between">
                                            <div class="type type2 selected ">
                                                <div class="logo">
                                                    <i class="far fa-credit-card"></i>
                                                </div>
                                                <div class="text">
                                                    <p>الدفع الالكتروني</p>
                                                </div>
                                            </div>
                                            <div class="type type1 disabled">
                                                <div class="logo">
                                                    <i class="fas fa-handshake"></i>
                                                </div>
                                                <div class="text">
                                                    <p>الدفع عند الاستلام</p>
                                                </div>
                                            </div>
{#                                            <div class="type type2 {% if isTrue %} disabled {% endif %}">#}


                                        </div>
                                    </div>
                                    <div class="select-wrapper m-b-15 m-t-15">

                                        {#                            <select class="nice-select" name="payment" required="required">#}
                                        {#                                <option value="">Select a payment method...</option>#}
                                        {#                                {% for paymentMethod in paymentMethods %}#}
                                        {#                                    <option#}

                                        {#                                            value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option>#}
                                        {#                                {% endfor %}#}
                                        {#                            </select>#}
                                        {#                            <div class="dropDownSelect2"></div>#}

                                        {{ form_widget(payment_method_form.paymentMethod, {'attr': {'class': 'nice-select wide', 'placeholder':'اختر طريقة الدفع', 'required': 'true'}}) }}
                                    </div>

                                </div>
                                {{ form_row(payment_method_form._token) }}
                                <main>
                                    <article class="terms-and-conditions">
                                        <h1>الأحكام والشروط</h1>
                                        <div><strong>المقدمة</strong><br>نرحّب بكم في موقع شاين اورورا دوت كوم (www.shineaurora.com) تنطبقُ هذه الشروط والأحكام ("شروط وأحكام") على الموقع&nbsp; في دولة الكويت فضلًا عن جميع أقسامها وفروعها وموقع الإنترنت التابع لها التي تُشير إلى هذه الشروط والأحكام كمرجعٍ آمنٍ لها.</div><div><br>ضيفنا الكريم، إثر زيارتك للموقع، أنت تؤكد موافقتك على الشروط والأحكام الحالية. وإن كنت لا توافق عليها، يجدر بك عدم استخدام هذا الموقع. يحتفظ الموقع بالحق في تغيير أجزاء من الشروط والأحكام أو تعديلها أو إضافة البعض منها، أو إزالتها في أي وقت من الأوقات. وتصبح التغييرات فعّالة عندما يتم نشرها على الموقع من دون إشعار مسبق. يُرجى مراجعة شروط الاستخدام والأحكام بشكل منتظم لمواكبة كل التحديثات. ويشكل استخدامك المستمر للموقع موافقتك التامة على كل التغييرات التي يتم إجراؤها على الشروط والأحكام.<br><br><br></div><div><strong>كيفية استخدام الموقع</strong></div><div>أيّها الضيف الكريم، إمّا تبلغ من العمر ثمانية عشر عامًا أو تزور هذا الموقع تحت إشراف أحد الوالدين أو الوصي القانوني.</div><div><br>نمنحك ترخيصًا غير قابلٍ للتحويل أو الإلغاء لكي تستخدم الموقع تحت الشروط والأحكام المحدّدة. وتكمن غاية هذا الترخيص في التسوّق لشراء سلعٍ شخصية تُباع على الموقع. ويُحظر الاستخدام لأغراضٍ تجارية أو الاستخدام باسم أي طرفٍ ثالث، باستثناء ما تمّ السماح به من قبلنا بوضوح وشفافية سلفًا. ويؤدي أي خرق لهذه الشروط والأحكام إلى إلغاء فوري للترخيص الممنوح في هذه الفقرة من دون أي سابق إنذار.</div><div><br>يتمّ عرض المحتوى المقدّم في هذا الموقع لأغراضٍ إعلاميةٍ لا غير.&nbsp;</div><div><br>تتطلب بعض الخدمات والميّزات ذات الصلة التي قد تكون متوفرةَ على الموقع التسجيل أو الاشتراك فيها. وباختيارك التسجيل أو الاشتراك في أيّةٍ من هذه الخدمات أو المّيزات ذات الصلة، فإنّك توافق على تقديم معلومات دقيقة وحالية عن نفسك وعلى تحديثها على الفور إذا طرأت أيّة تغييرات. ويتحمّل كلّ مستخدمٍ للموقع وحده مسؤولية حفظ كلمات السرّ أو المرور أو غيرها من أساليب التعريف سليمةً وآمنة. وتقع كامل المسؤولية على عاتق صاحب الحساب بالنسبة إلى جميع النشاطات التي تحدث بموجب كلمة سرّه أو ضمن حسابه. بالإضافة إلى ذلك، يجدرُ بك تبلغينا عن أي استخدام غير مصرّح به لكلمة سرّك أو لحسابك. أخيرًا، إنّ الموقع ليس مسؤولًا بتاتًا، بشكلٍ مباشرٍ أو غير مباشرٍ وبأي شكلٍ من الأشكال، عن أيّة خسارة أو أضرارٍ من أي نوع، قد تنتجُ عن فشلك في الامتثال لهذا القسم أو لها علاقةٌ به على الأقلّ.</div><div><br>وإنّك توافق، أثناء عملية التسجيل، على تلقي رسائل إلكترونية ترويجية من قِبل الموقع. ويمكنك، في وقتٍ لاحق، إلغاء هذا الخيار وعدم تلقي رسائل إلكترونية ترويجية من خلال الضغط على الرابط في الجزء السفلي من أية رسالة إلكترونية ترويجية.<br><br><br></div><div><strong>الموافقة على الطلبيات والتسعير</strong></div><div>يُرجى الملاحظة أنّه في بعض الحالات، قد لا تتمّ الموافقة على طلبيةٍ ما لعدّة أسباب. ويحتفظ الموقع بالحقّ في رفض أو إلغاء أية طلبية لأي سببٍ من الأسباب وفي أي وقتٍ من الأوقات. وقبل أن نوافق على الطلبية قد نطلب منك تقديم معلومات أو تثبيتات إضافية، بما في ذلك ولكن ليس على سبيل الحصر، رقم الهاتف والعنوان.<br><br><br></div><div><strong>لا يمكنك شراء المنتجات بكميات كبيرة عبر موقعنا لغرض إعادة بيعها.</strong></div><div>نحن عازمون على توفير أدقّ المعلومات الخاصة بالتسعير إلى كافة المستخدمين الذين يزورون الموقع. إلّا أنّ الأخطاء قد تَرِدُ في بعض الأحيان، كالحالات حيث لا يتمّ تسعير المنتوج بشكلٍ صحيحٍ على الموقع. وعلى هذا النحو، نحتفظ بالحقّ في رفض أو إلغاء أية طلبية. وفي حال لم يتمّ تسعير المنتوج بشكلٍ صحيح، ما قد نقوم به، وفقًا لتقديرنا الخاص، هو الاتصال بك للحصول على تعليماتٍ أو إلغاء طلبيتك بعد إبلاغك بهذا الإلغاء. ولنا الحق في رفض أو إلغاء أية طلبيات سواء تمّ أو لم يتمّ التأكيد على الطلبية وأضيفت الرسوم على بطاقة الائتمان.<br><br><br></div><div><strong>العلامات التجارية وحقوق النشر</strong></div><div>إنّ جميع حقوق الملكية الفكرية، سواء كانت مسجلة أو غير مسجلة في الموقع، وكافة المعلومات والتصاميم الواردة على الموقع، تُعتبرُ ملكًا لنا، بما في ذلك ولكن ليس على سبيل الحصر، النصوص والرسوم والبرامج والصور والفيديو والموسيقى والصوت، واختيارها وتنسيقها، فضلًا عن جميع مصنّفات البرمجيات ورموز المصادر والبرامج الرئيسة. وإنّ كلّ محتويات الموقع محميةٌ أيضًا بموجب حقوق النشر كونها عمل جماعي يخضع لقوانين حقوق نشر دولة الكويت والاتفاقيات الدولية. جميع حقوق النشر محفوظة.<br><br><br></div><div><strong>تطبيق القانون والهيئات القضائية</strong></div><div>تُفسّرُ هذه الشروط والأحكام وتُطبّقُ بموجب القوانين النافذة في دولة الكويت،&nbsp; وإثر الخضوع للتحكيم المفصّل أدناه، يوافقُ كلّ فريق ههنا على المثول أمام هيئات محاكم دولة الكويت، والتنازل عن أية اعتراضات مبنية على مكان الدعوى.<br><br><br></div><div><strong>التحكيم</strong></div><div>فضلًا عن أيّة تعويضاتٍ قانونيةٍ أو مُنصفةٍ، قد نُبطل فورًا، ومن دون سابق إنذار، هذه الشروط والأحكام أو نلغي أيًّا من حقوقك الممنوحة أو جميعها بموجب الشروط والأحكام. بناءً على أيّ إبطال لهذا الاتفاق، يتعيّن عليك التوقّف فورًا عن زيارة الموقع واستخدامه، وقد نُلغي فورًا، فضلًا عن أيّة تعويضاتٍ قانونية أو مُنصفةٍ، جميع كلمات السرّ أو المرور أو غيرها من أساليب التعريف الخاصة بك، ونرفض أي زيارة أو استخدام لهذا الموقع ، كلّيًا أو جزئيًا. ولن يؤثر أي إبطال لهذا الاتفاق على كلّ حقوق والتزامات (بما في ذلك ولكن ليس على سبيل الحصر، إلتزامات الدفع) الأطراف الصادرة قبل تاريخ الإبطال. وإنّك توافق أيضًا على أنّ الموقع ما عاد مسؤولًا عنك أو عن أيّ فردٍ آخر نتيجة تعليق الموقع أو إبطاله. وإذا كنتَ غير راضٍ عن هذا الموقع أو عن أيّة من شروطه أو أحكامه أو نظامه أو سياساته أو مبادئه التوجيهية أو ممارسات الشركة&nbsp; في دولة الكويت في كيفيّة إدارة الموقع، فحلُّكَ الوحيد والحصري عندئذٍ هو التوقّف عن استخدام الموقع<br><br><strong>عملية الإبطال<br></strong>ضلًا عن أيّة تعويضاتٍ قانونيةٍ أو مُنصفةٍ، قد نُبطل فورًا، ومن دون سابق إنذار، هذه الشروط والأحكام أو نلغي أيًّا من حقوقك الممنوحة أو جميعها بموجب الشروط والأحكام. بناءً على أيّ إبطال لهذا الاتفاق، يتعيّن عليك التوقّف فورًا عن زيارة الموقع واستخدامه، وقد نُلغي فورًا، فضلًا عن أيّة تعويضاتٍ قانونية أو مُنصفةٍ، جميع كلمات السرّ أو المرور أو غيرها من أساليب التعريف الخاصة بك، ونرفض أي زيارة أو استخدام لهذا الموقع ، كلّيًا أو جزئيًا. ولن يؤثر أي إبطال لهذا الاتفاق على كلّ حقوق والتزامات (بما في ذلك ولكن ليس على سبيل الحصر، إلتزامات الدفع) الأطراف الصادرة قبل تاريخ الإبطال. وإنّك توافق أيضًا على أنّ الموقع ما عاد مسؤولًا عنك أو عن أيّ فردٍ آخر نتيجة تعليق الموقع أو إبطاله. وإذا كنتَ غير راضٍ عن هذا الموقع أو عن أيّة من شروطه أو أحكامه أو نظامه أو سياساته أو مبادئه التوجيهية أو ممارسات الشركة&nbsp; في دولة الكويت في كيفيّة إدارة الموقع، فحلُّكَ الوحيد والحصري عندئذٍ هو التوقّف عن استخدام الموقع</div>
                                        <h1>سياسة الموقع</h1>
                                        <div><strong>&nbsp;سياسة الخصوصية‎</strong></div><div>تطبق سياسة الخصوصية هذه على موقع شاين اورورا وسارية على جميع العملاء سواء كانوا من مستخدمي الموقع عبر www.shineaurora.com إن أي إشارة إلى "الموقع" أو "الموقع الإلكتروني" تعني الإشارة إلى موقع&nbsp;</div><div><br><br></div><div><strong>تغيير سياسة الخصوصية</strong></div><div>قد تخضع سياسة الخصوصية هذه للتغيير من وقت لآخر. تم نشر النسخة الحالية من سياسة الخصوصية هذه على الإنترنت من قبل شاين اورورا. يتحتم عليك التحقق من سياسة الخصوصية الخاصة بنا بشكل منتظم. استخدامك المستمر لموقع شاين اورورا وخدماتها يشكل موافقتك على سياسة الخصوصية هذه، حيث يتم تعديلها من وقت لآخر.<br><br><br></div><div><strong>حقوقك</strong></div><div>حقوقك حول بياناتك الشخصية:</div><div><br>1. يحقّ لك أن تكون على علم بأي من بياناتك الشخصية التي قد نحتفظ أو نعمل بها من أجلك.</div><div><br>2. يحقّ لك طلب النّفاذ إلى بياناتك الشخصيّة التي قد نحتفظ أو نعمل بها من أجلك.</div><div><br>3. يحقّ لك أن تطلب منّا تصحيح أية أخطاء في بياناتك الشخصيّة ويتم ذلك مجانًا.</div><div><br>4. يحق لك مطالبتنا بالكفّ عن استخدام بياناتك الشخصية لأغراض تسويقيّة مباشرة.</div><div><br>5. يحق لك أن تطالبنا بمحو بياناتك الشخصية أو تحديد إجراء التعامل بها.</div><div><br>6. يحق لك أن تطلب منا بأن ننقل أي من بياناتك الشخصية التي نحتفظ بها إليك أو لأي مزود خدمة آخر من اختيارك.</div><div><br>7. يحق لك التقدم بشكوى إلى السلطة الإشرافية في حال تعرضت إلى مشكلة ما.<br><br><br></div><div><strong>اقرار</strong></div><div>أقر بموجب ذلك أنني قرأت وفهمت سياسة الخصوصية هذه. من خلال إرسال البيانات إلى شاين اورورا&nbsp; أو استخدامي لموقع شاين اورورا أو خدماته، أوافق طوعا وبشكل صريح على جمع بياناتي ومشاركتها واستخدامها في الإجراءات والاحتفاظ بها على النحو المبين في سياسة الخصوصية هذه.<br><br><br></div><div><strong>الأمان</strong></div><div>نستخدم تقنيات وإجراءات الأمان الملائمة لمنع نفاذٍ غير مصرّح به أو غير قانونيّ لمعلوماتك أو فقدانها أو تدميرها . فعندما نجمع البيانات من خلال الموقع، نقوم بتخزين معلوماتك الشخصية على قاعدة بيانات ضمن خادم إلكتروني آمن.&nbsp; بما أنّنّا لا نستطيع ضمان الحماية بنسبة مئة في المئة. وننصحك بشدّة عدم إرسال كامل تفاصيل بطاقة الائتمان أو بطاقة السحب الآلي عندما تتواصل معنا إلكترونيًا ومن دون تشفير. ونضع ضمانات ماديّة والكترونية وإجرائيّة مباشرة على عملية جمع معلوماتك اوالإفصاح عنها. وتتطلّب إجراءاتنا الأمنية أن نطلب منك أحيانًا إثبات هويتك قبل أن نفصح لك عن معلوماتك الشخصية. وتقع على عاتقك مسؤوليّة حماية كلمتك السريّة وحاسوبك من أيّ نفاذ غير مصرّح به.<br><br><br></div><div><strong>البيانات التي نجمعها</strong></div><div>قد نحتاج لجمع المعلومات الخاصة بكَ إذا أردت تسجيل طلبية شراء لسلعة من موقعنا.</div><div>&nbsp;نقوم بجمع البيانات اللازمة واستخدامها لتحضير طلبيتك وتأمين أية مطالب محتملة قد تظهر لاحقا، ولتزويدك بالخدمات المتوفرة لدينا. مثال على ذلك، الإسم&nbsp; وعنوان البريد الإلكتروني والعنوان البريدي وعنوان التسليم (إذا كان مختلفًا) ورقم الهاتف ورقم الجوّال وتفاصيل الدفع، تفاصيل عن بطاقات الدفع أو تفاصيل عن الحساب المصرفي.<br>يتم التواصل عبر البريد الإلكتروني لتزويدكَ ببعض التفاصيل حول المنتجات والخدمات الأخرى إذا كنت ترغب في ذلك، وإذا كنت تفضل عدم تلقي أية اتصالات ترويجية وتسويقية، يُرجى الانسحاب من هذا الخيار في أي وقت من الأوقات<br>وقد نُقرُّ باسمك وعنوانك إلى طرفٍ ثالث بغية تسليمكَ طلبية شرائكَ (على سبيل المثال، شركة التوصيل أو المورّد).<br>قد يتم التواصل معك على رقم هاتفك لاعلامك بأي تحديث يتعلق بحالة طلبيتك أو لأي اعلان عن آخر تخفيضاتنا وعروضنا الترويجية.<br><br><strong><br>الغرض المشروع</strong></div><div>قد نحتفظ بمعلوماتك حتى بعد إغلاق حسابك حتى لو كنت لا تستخدم خدماتنا وذلك للكشف عن الاحتيال ومنعه والالتزام بمتطلباتنا القانونية / التوافقية / التنظيمية وحل أي نزاعات وتنفيذ سياسات الخصوصية الخاصة بنا والشروط والأحكام.<br><br><strong><br>الطرف الثالث والروابط</strong></div><div>قد نشارك معلومات تعريفية شخصية نجمعها (بما في ذلك عناوين البريد الإلكتروني) مع شركات أخرى في مجموعتنا ولأغراض تجارية - مثل الإعلانات .وقد ننقل معلوماتك إلى شركاتٍ أخرى في مجموعتنا أو إلى وكلائنا ومقاولينا لمساعدتنا في المعاملات المتعلقة وفقا لبنود سياسة الخصوصية. فقد نلجأ على سبيل المثال إلى طرف ثالث لمعاونتنا في تسليم المنتجات إليك، واستلام الدفعات منك، واستخدامها لأغراض الإحصاءات وأبحاث التسويق أو لمساعدة فريق خدمة العملاء. وقد نحتاج لتبادل المعلومات مع طرفٍ ثالث بغية الحماية من الاحتيال والحدّ من مخاطر الائتمان. و في حال تمّ بيع شركتنا أو جزءًا منها ، قد نضطر لنقل قواعد بياناتنا التي تشمل معلوماتك الشخصيّة.<br><br><strong><br>إعلان موافقة الزبون</strong></div><div>أوافق طوعا وبشكل صريح على جمع بياناتي ومشاركتها واستخدامها في الإجراءات والاحتفاظ بها وفقا للطريقة المنصوص عليها كما ورد أعلاه.</div><div><br></div>
                                        <h1>سياسة الاسترجاع</h1>
                                        <div>ما الفرق بين إرجاع منتج إلينا وتبديله بمقاس آخر؟<br><br><strong>الإرجاع:</strong><br>• يمكنك إرجاع أي منتج لست راضيًا عنه فيما عدا تلك المنتجات التي تندرج تحت خصوصية الشركة بعدم الإرجاع<br>•&nbsp; بالنسبة للمنتجات التي تعيدها إلينا، يمكنك استرداد المبلغ على عن طريق بطاقة الائتمان التي تم بها الطلب<br>&nbsp;</div><div><strong>الاستبدال:</strong></div><div>&nbsp;عند إنشاء عملية الاستبدال، يمكنك تبديل أي منتج طلبته باختيار مقاس آخر من نفس المنتج (فيما عدا .المنتجات&nbsp; تندرج تحت خصوصية الشركة بعدم الإرجاع)</div><div>في حال تم اعادة المبلغ للزبون في حالة الدفع بنظام الكي - نت يستلم البلغ خلال 12ساعة ، أما اذا تم الدفع&nbsp; . نظام الفيزا أو الماستر يتم استلام المبلغ خلال فترة زمنية تقدر ب 3-7 ايام عمل</div><div><br><strong>القواعد والشروط المتبعة عند الاستبدال/ الإرجاع:</strong><br>1- أن يتم إرجاع المنتج خلال ١٤ يوم من تاريخ استلامكم الطلب.<br>2- يجب أن يكون المنتج بحالة جيدة، غير مستخدم ‎وعليه ملصق العلامة التجارية.<br>3- يجب إرجاع المنتج مع صندوق الماركة الأصلي الذي تم إرساله اليكم.<br><strong>4- فساتين السهرة والملابس الداخلية وملابس السباحة والأكسسوارات غير قابلة للإرجاع أو الإستبدال.<br></strong><br></div><div><strong>للأسف تقتضي سياستنا على عدم إرجاع بعض المنتجات. لذلك ننصح بقراءة وصف المنتج جيدا قبل شرائه."</strong></div><div><br></div>
                                    </article>
                                    <div class="term-buttons-container">
                                        <button class="scroll-to-bottom">
                                            <svg
                                                    width="20"
                                                    height="11"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    title="Go to bottom to accept terms and conditions"
                                            >
                                                <title>انتقل إلى أسفل لقبول الشروط والأحكام</title>
                                                <path
                                                        d="M20 1.39L18.594 0 9.987 8.261l-.918-.881.005.005L1.427.045 0 1.414 9.987 11 20 1.39"
                                                        fill="#fff"
                                                        fill-rule="evenodd"
                                                />
                                            </svg>
                                        </button>

                                        <button type="submit" class="accept-button" aria-hidden="true" aria-label="Accept terms and conditions"  data-id="{{ order.id }}" data-locale="{{ locale }}">
                                            استكمال الطلب
                                        </button>

                                    </div>
                                </main>
                                {{ form_end(payment_method_form) }}
                                <div class="p-t-10">
                                    <a href="{{ path('order', { locale: 'ar' }) }}" onclick="setFormSubmitting();" class="hiraola-btn w-100">
                                        عودة
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Checkout Area End Here -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        // var stripe = Stripe("pk_test_51IU51mLg5TZnbiRrqWBt7NVQhhSsMbzK33P5nDrDkEZbMhZyO3NCThWs6mX7T5AxV8jSptmcd639iYqJYzUJBgWn00qv2gkIyj");
        var checkoutButton = document.getElementById("checkout-button");
        {#checkoutButton.addEventListener("click", function () {#}

        {#    alert($('.js-select2').select2('data'))#}
        {#    fetch("/{{ locale }}/order/create-session/{{ order.id }}", {#}
        {#      method: 'POST', // or 'PUT'#}
        {#      headers: {#}
        {#        'Content-Type': 'application/json',#}
        {#      },#}
        {#      body: JSON.stringify(data)#}
        {#    })#}
        {#        .then(function (response) {#}
        {#            return response.json();#}
        {#        })#}
        {#        .then(function (session) {#}
        {#            if(session.error === 'order'){#}
        {#                window.location.replace("/{{ locale }}/order/{{ order.id }}");#}
        {#            }else{#}
        {#                // return stripe.redirectToCheckout({ sessionId: session.id });#}
        {#            }#}
        {#        })#}
        {#        .then(function (result) {#}
        {#            // If redirectToCheckout fails due to a browser or network#}
        {#            // error, you should display the localized error message to your#}
        {#            // customer using error.message.#}
        {#            if (result.error) {#}
        {#                alert(result.error.message);#}
        {#            }#}
        {#        })#}
        {#        .catch(function (error) {#}
        {#            console.error("Error:", error);#}
        {#        });#}
        {#});#}
        var formSubmitting = false;
        var setFormSubmitting = function() { formSubmitting = true; };

        window.onload = function() {
            window.addEventListener("beforeunload", function (e) {
                if (formSubmitting) {
                    return undefined;
                }

                var confirmationMessage = 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.';

                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
            });
        };
    </script>
    <script>

        // let getSiblings = function (e) {
        //     // for collecting siblings
        //     let siblings = [];
        //     // if no parent, return no sibling
        //     if(!e.parentNode) {
        //         return siblings;
        //     }
        //     // first child of the parent node
        //     let sibling  = e.parentNode.firstChild;
        //     // collecting siblings
        //     while (sibling) {
        //         if (sibling.nodeType === 1 && sibling !== e) {
        //             siblings.push(sibling);
        //         }
        //         sibling = sibling.nextSibling;
        //     }
        //     return siblings;
        // };
    </script>
    <style>
        .card-body .payment-type .types {
            margin: 25px 0;
        }
        .flex.justify-space-between {
            justify-content: space-between;
        }
        .flex {
            display: flex;
            flex-direction: row wrap;
            align-items: center;
        }
        .payment-type .types .type.selected {
            border-color: #d5b473;
            background: rgba(64,179,255,0.1);
        }

        .payment-type {
            margin-bottom: 20px;
        }

        .payment-type .types .type {
            width: 45%;
            position: relative;
            background: #f2f4f7;
            border: 2px solid #e8ebed;
            padding: 25px;
            box-sizing: border-box;
            border-radius: 6px;
            cursor: pointer;
            text-align: center;
            transition: all 0.5s ease;

        }
        .payment-type .types .type.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        .payment-type .types .type.selected .logo {
            color: #d5b473;
        }

        .payment-type .types .type .logo {
            font-size: 48px;
            color: #8a959c;
            justify-content: center;
        }
        .payment-type .types .type .logo, .card .card-body .payment-type .types .type p {
            transition: all 0.5s ease;
        }
        .payment-type .types .type.selected p {
            color: #28333b;
        }
        .payment-type .types .type p {
            margin-bottom: 0;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #8a959c;
        }
        .payment-type .types .type .logo, .card .card-body .payment-type .types .type p {
            transition: all 0.5s ease;
        }
        .payment-type .types .type.selected::after {
            content: '\f00c';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            height: 40px;
            width: 40px;
            top: -21px;
            right: -21px;
            background: #fff;
            border: 2px solid #d5b473;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /*.select-wrapper {*/
        /*    position: relative;*/
        /*    width: 100%;*/
        /*}*/
        /*.select-wrapper::after {*/
        /*    color: black;*/
        /*    content: "▾";*/
        /*    margin-right: 10px;*/
        /*    pointer-events: none;*/
        /*    position: absolute;*/
        /*    right: 10px;*/
        /*    top: 7px;*/
        /*    font-size: 20px;*/
        /*}*/

        /*.select {*/
        /*    -moz-appearance: none;*/
        /*    -webkit-appearance: none;*/
        /*    background: white;*/
        /*    border: none;*/
        /*    border-radius: 0;*/
        /*    cursor: pointer;*/
        /*    padding: 12px;*/
        /*    width: 100%;*/
        /*    font-size: 18px;*/
        /*}*/
        /*.select:focus {*/
        /*    color: black;*/
        /*}*/
        /*.select::-ms-expand {*/
        /*    display: none;*/
        /*}*/
    </style>
    <style>
        :root {
            --clr-light: #f5f5f5;
            --clr-white: #fff;
            --clr-dark-blue: #293a80;
        }
        main {
            display: block;
        }

        button {
            display: inline-block;
            border: none;
            font-family: inherit;
            margin: 0;
            line-height: 1.15;
            overflow: visible;
            text-transform: none;
            -webkit-appearance: button;
            cursor: pointer;
            text-align: center;
        }

        button::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focusring {
            outline: 2px dotted ButtonText;
        }

        :focus {
            --clr-orange: #f39422;
            outline: 2px dotted var(--clr-orange);
        }


        main {
            padding: 3vh 1rem 0;
            display: grid;
            grid-template: 0.5fr 65px/2fr minmax(200px, 800px) 2fr;
            align-content: center;
        }

        .terms-and-conditions {
            grid-column: 2/3;
            grid-row: 1;
            height: 30vh;
            margin: 0 auto;
            max-width: 800px;
            padding: 2em;
            overflow-y: scroll;
            border-radius: 5px 5px 0px 0px;
            background-color: var(--clr-white);
        }
        .terms-and-conditions::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: var(--clr-light);
        }
        .terms-and-conditions::-webkit-scrollbar {
            width: 15px;
            background-color: var(--clr-light);
        }
        .terms-and-conditions::-webkit-scrollbar-thumb {
            background-color: var(--clr-dark-blue);
        }
        .terms-and-conditions h1 {
            font-size: calc(1.7rem + 0.25vw);
            line-height: 1.1;
        }
        .terms-and-conditions h2 {
            font-size: calc(1.2rem + 0.25vw);
            font-weight: normal;
        }
        .terms-and-conditions h3 {
            font-size: calc(1.1rem + 0.25vw);
            font-weight: normal;
        }
        .terms-and-conditions p {
            font-size: 0.95rem;
            line-height: 1.6;
        }
        .terms-and-conditions ul li {
            margin-bottom: 0.5rem;
            padding-left: 0.25rem;
            line-height: 1.5;
        }
        .terms-and-conditions ul li::marker {
            font-size: 1em;
            color: #6c63ff;
            font-family: sans-serif;
        }

        .term-buttons-container {
            grid-row: 2;
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            margin-top: -2px;
            padding: 0.7em;
            z-index: 1;
            border-top: 1px solid #f3f3f3;
            background-color: #fdfdfd;
            border-radius: 0 0 5px 5px;
        }

        .scroll-to-bottom {
            justify-self: start;
            align-self: center;
            margin-top: -23px;
            padding: 0.5em;
            font-size: 1rem;
            border-radius: 50%;
            background-color: rgba(83, 127, 198, 0.7);
            box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
        }
        .scroll-to-bottom:hover {
            background: #537fc6;
        }
        .scroll-to-bottom[aria-hidden=true] {
            display: none;
        }

        [name=terms-and-conditions-form] {
            justify-self: flex-end;
            align-self: flex-end;
        }

        .accept-button {
            background-color: #537ec5;
            padding: 0.7em 1.5em;
            font-size: 0.95rem;
            color: var(--clr-white);
            border-radius: 5px;
            box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
        }
        .accept-button:hover {
            background: var(--clr-dark-blue);
        }
        .accept-button[aria-hidden=true] {
            display: none;
        }
    </style>
    <script>
        const terms = document.querySelector(".terms-and-conditions");
        const termsLastElement = terms.lastElementChild;
        const scrollToBottom = document.querySelector(".scroll-to-bottom");
        const acceptButton = document.querySelector(".accept-button");

        scrollToBottom.addEventListener("click", function(e) {
            termsLastElement.scrollIntoView({
                block: "start",
                behavior: "smooth",
                inline: "nearest"
            });
        });

        function obCallback(payload) {
            if (payload[0].isIntersecting) {
                scrollToBottom.setAttribute("aria-hidden", true);
                acceptButton.setAttribute("aria-hidden", false);
                observer.unobserve(termsLastElement);
            }
        }

        const observer = new IntersectionObserver(obCallback, { root: terms, threshold: 0.1 });

        observer.observe(termsLastElement);
    </script>

{% endblock %}