{% extends 'baseAr.html.twig' %}
{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>الطلب</h2>
                <ul>
                    <li><a href="{{ path('home', { locale: 'ar' }) }}">الصفحة الرئيسية</a></li>
                    <li class="active">الدفع</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Hiraola's Checkout Area -->
    <div class="checkout-area">
        <div class="container">
            {{ form_start(form, { 'attr': {'class': 'row', 'onsubmit': 'setFormSubmitting()'}}) }}
            <div class="col-lg-6 col-12">
                <div class="checkbox-form text-right">
                    <h3>تفاصيل الفاتورة</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>اسم بالكامل <span class="required">*</span></label>
                                {{ form_widget(form.shippingFullName, {'attr': {'placeholder':'اسم بالكامل'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>العنوان <span class="required">*</span></label>
                                {{ form_widget(form.shippingAddress, {'attr': { 'placeholder':'أدخل عنوانك'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>منطقة<span class="required">*</span></label>
                                {{ form_widget(form.shippingCity, {'id': 'city', 'attr': {'placeholder':'منطقة'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>المحافظة<span class="required">*</span></label>
                                {{ form_widget(form.shippingProvince, {'id': 'province', 'attr': {'class': 'form-control', 'placeholder':'المحافظة'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>عنوان بريد الكتروني <span class="required">*</span></label>
                                {{ form_widget(form.shippingEmail, {'attr': {'class': 'form-control', 'placeholder':'بريدك الالكتروني'}}) }}
                                {{ form_errors(form.shippingEmail) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>رقم الهاتف <span class="required">*</span></label>
                                {{ form_widget(form.shippingPhone, {'attr': {'class': 'form-control', 'placeholder':'هاتفك'}}) }}
                                {{ form_errors(form.shippingPhone) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="checkout-form-list">
                                <label>رقم الهاتف الثاني <span class="required">(اختياري)</span></label>
                                {{ form_widget(form.shippingSecondPhone, {'attr': {'class': 'form-control', 'placeholder':'هاتفك الثاني'}}) }}
                                {{ form_errors(form.shippingSecondPhone) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="your-order text-right">
                    <h3>طلبك</h3>
                    <div class="your-order-table table-responsive">
                        {% set total = null %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="cart-product-name">منتج</th>
                                <th class="cart-product-total">مجموع</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for productCart in cart2order %}
                                <tr class="cart_item">
                                    <td class="cart-product-name"> {{ productCart.catalog.product.nameAr }}<strong class="product-quantity">
                                            × {{ productCart.quantity }}</strong></td>
                                    <td class="cart-product-total"><span class="amount">
                                             {% if productCart.catalog.product.discountPrice != 0 %}
                                                 {{ (productCart.quantity * productCart.catalog.product.discountPrice/100) |number_format(2, '.', ',')~ currency_ar }}
                                             {% else %}
                                                 {{ (productCart.quantity * productCart.catalog.product.price/100) |number_format(2, '.', ',')~ currency_ar }}
                                             {% endif %}
                                    </span></td>
                                </tr>
                                {% if productCart.catalog.product.discountPrice != 0 %}
                                    {% set total = total + ((productCart.quantity * productCart.catalog.product.discountPrice)/100) %}
                                {% else %}
                                    {% set total = total + ((productCart.quantity * productCart.catalog.product.price)/100) %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th>مجموع سلة التسوق</th>
                                <td><span class="amount">{{ total |number_format(2, '.', ',')  ~currency_ar }}</span></td>
                            </tr>
                            <tr class="cart-delivery">
                                <th>توصيل</th>
                                <td><span class="amount">{{ (delivery2order/100) |number_format(2, '.', ',') ~ currency_ar }}</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>إجمالي الطلب</th>
                                <td><strong><span class="amount">{{ (total + (delivery2order/100)) |number_format(2, '.', ',') ~ currency_ar }}</span></strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="order-button-payment">
                                <input value="التالي" type="submit">
                            </div>
                            <div class="p-t-10">
                                <a class="hiraola-btn w-100" href="{{ path('back.to.cart', { locale: 'ar' }) }}">
                                    العودة إلى عربة التسوق
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Hiraola's Checkout Area End Here -->
{% endblock %}

{% block javascripts %}
    <script>
        var formSubmitting = false;
        var setFormSubmitting = function () {
            formSubmitting = true;
        };

        window.onload = function () {
            window.addEventListener("beforeunload", function (e) {
                if (formSubmitting) {
                    return undefined;
                }

                var confirmationMessage = 'It looks like you have been editing something. '
                    + 'If you leave before saving, your changes will be lost.';

                (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
            });
        };
    </script>
{% endblock %}
