<html>
<head>Receipt of Purchase
</head>
<body>

<div style="text-align: left;border-top:1px solid #000;">
    <div style="font-size: 24px;color: #666;">INVOICE</div>
</div>
<table style="line-height: 1.5;">
    <tr><td><b>#{{ order.reference }}</b>
        </td>
        <td style="text-align:right;"><b>Receiver:</b></td>
    </tr>
    <tr>
        <td><b>Date:</b> {{ order.createdAt|date("F jS") }}</td>
        <td style="text-align:right;">{{ order.shippingFullName }}</td>
    </tr>
    <tr>
        <td><b>In Delivering Due:</b>{{ order.inDeliveringAt|date("F jS") }}
        </td>
        <td style="text-align:right;">Phone: {{ order.shippingPhone }}</td>
    </tr>
    <tr>
        <td>
            {% if order.isPaid == true %}
                <h1 style="color:green">PAID</h1>
            {% else %}
                <h1 style="color:red"> NOT PAID</h1>
            {% endif %}
        </td>
        <td style="text-align:right;">
            {{ order.shippingAddress }} <br />
{#            {{ order.shippingCity ~'-'~ order.shippingProvince }}#}
        </td>
    </tr>
</table>

<div></div>
<div>
    <table style="line-height: 2;font-size:15px">
        <tr style="font-weight: bold;border:1px solid #cccccc;background-color:#f2f2f2;">
            <td style="border:1px solid #cccccc;width:252px;">Product</td>
            <td style="border:1px solid #cccccc;width:50px;">Size</td>
            <td style = "text-align:right;border:1px solid #cccccc;width:70px">Price</td>
            <td style = "text-align:right;border:1px solid #cccccc;width:30px;">U</td>
            <td style = "text-align:right;border:1px solid #cccccc;width:70px">Subtotal</td>
        </tr>
        {% for orderDetail in order.orderDetails %}
        <tr> <td style="border:1px solid #cccccc;">{{ orderDetail.product|upper }}</td>
            <td style = "text-align:right; border:1px solid #cccccc;">{{ orderDetail.size }}</td>
            <td style = "text-align:right; border:1px solid #cccccc;">{{ orderDetail.price/100 |number_format(2, '.', ',')~ currency }}</td>
            <td style = "text-align:right; border:1px solid #cccccc;">{{ orderDetail.quantity }}</td>
            <td style = "text-align:right; border:1px solid #cccccc;">{{ orderDetail.total/100 |number_format(2, '.', ',')~ currency }}</td>
        </tr>
        {% endfor %}
    </table>
    <table style="line-height: 2;font-size:15px">
        <tr style = "font-weight: bold;">
            <td></td><td style = "width:133px"></td>
            <td style = "text-align:right;border:1px solid #cccccc;width:120px">SubTotal </td>
            <td style = "text-align:right;border:1px solid #cccccc;width:100px">{{ (order.total)/100 |number_format(2, '.', ',')~ currency }}</td>
        </tr>
        {% if order.discountValue %}
            <tr style = "font-weight: bold;">
                <td style = "text-align:right;border:1px solid #cccccc;width:120px"></td><td style = "text-align:right;border:1px solid #cccccc;width:120px"></td>
                <td style = "text-align:right;border:1px solid #cccccc;width:120px">Discount </td>
                <td style = "text-align:right;border:1px solid #cccccc;width:100px">-{{ order.discountValue |number_format(2, '.', ',')~ currency }}</td>
            </tr>
        {% endif %}
        <tr style = "font-weight: bold;">
            <td></td><td></td>
            <td style = "text-align:right;border:1px solid #cccccc;width:120px">Delivery </td>
            <td style = "text-align:right;border:1px solid #cccccc;width:100px">{{ order.deliveryPrice/100 |number_format(2, '.', ',')~ currency }}</td>
        </tr>
        <tr style = "font-weight: bold;">
            <td></td><td></td>
            <td style = "text-align:right;border:1px solid #cccccc;width:120px">Total </td>
            <td style = "text-align:right;border:1px solid #cccccc;width:100px">{{ (order.total + order.deliveryPrice)/100 |number_format(2, '.', ',')~ currency }}</td>
        </tr>
    </table></div>
</body>
</html>